// Graeters Sitewide Styles
h1{
    &.h1{
        font: {
            size: 1.5rem;
        }
    }
}
.main-body {
    margin: {
        top: 0.7rem;
    }
}


footer{
    font: {
        size: 0.9rem;
        weight: 500;
    }
    background-color: #f5f7f5;

    .footer-links {
        li {
            display: inline;
        }
        li+li::before {
            content: " | ";
        }
    }
    &>* {
        margin: 4px;
    }
    a[href]{
        color: #949bb0;
    }
}