<%
    @Page_Title = "Stores for #{@retailer.name}"
%>
<table>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Lat/Lng</th>
        </tr>
    </thead>
    <tbody>
    <% @stores.each do |store| %>
        <tr>
            <th scope="row"><%= store.name %> </th>
            <td><%= store_address(store) %></td>
            <td><%= "%f, %f" % [store.latitude, store.longitude] %></td>
        </tr>
    <% end %>
    </tbody>
</table>