<%
    @Page_Title = "Stores for #{@retailer.name}"
%>
<table>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
    <tbody>
    <% @stores.each do |store| %>
        <tr>
            <th scope="row"><%= store.name %> <%= get_attributes(store.data) %></th>
            <td><%= store_address(store) %></td>
        </tr>
    <% end %>
    </tbody>
</table>