<p style="color: green"><%= notice %></p>

<h1>Retailers</h1>

<div class="row">
  <div class="col">
    <h2>Active</h2>
    <%= render 'listing', {Table_Caption: 'Active', retailers: @retailers_active} %>
  </div>
  <div class="col">
    <h2>Inactive</h2>
    <%= render 'listing', {Table_Caption: 'Inactive', retailers: @retailers_inactive} %>
  </div>
</div>
<%= link_to "New retailer", new_retailer_path %>
