<div class="row">
    <div class="col">Content</div>
</div>
<div class="row">
    <div class="col">
        <button type="button" 
            class="btn btn-lg btn-danger" 
            data-bs-toggle="popover" 
            title="Popover title" 
            data-bs-content="Amazing content, right ?">
            Click to toggle popover
        </button> 
    </div>
</div>