<h1>Editing retailer</h1>

<%= render "form", retailer: @retailer %>

<br>

<div>
  <%= link_to "Show this retailer", manage_retailer_path(@retailer) %> |
  <%= link_to "Back to retailers", manage_retailers_path %>
</div>
